@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&family=Playfair+Display&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Pacifico&family=Playfair+Display&family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --background-header-footer: rgb(255, 55, 0);
    --background-color: #f4daaa;
    --social-bg: #ffa600;
    --social-bg-hover: #ff8400;
    --block-item-bg: antiquewhite;
    --block-item-bg-click: #ffa600;
    --button-bg: #ffa600;
    --button-bg-hover: rgb(255, 55, 0);
}

body {
    background-color: var(--background-color);
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}

h3 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
