.main_contacts_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;
    max-width: 1200px;
    margin: auto;
    
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts_info_list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
}

.contacts_social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.social-network {
    width: 35px;
    height: 35px;
    background-color: var(--social-bg);
    padding: 3px;
    border-radius: 25%;
    border: 2px solid white;
}

iframe {
    width: 600px;
    height: 450px;
}

@media (max-width: 900px) {
    .main_contacts_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 650px) {

    iframe {
        width: 500px;
        height: 450px;
    }
}

@media (max-width: 550px) {
    iframe {
        width: 400px;
        height: 450px;
    }
}
