.main_contacts_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;
    max-width: 1200px;
    margin: auto;
    
}

.contacts_info_list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
}

.contacts_social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.social-network {
    background-color: var(--social-bg);
    padding: 5px;
    border-radius: 25%;

}

.social-network:hover {
    background-color: var(--social-bg-hover);
    transition: 0.1s;
}

@media (max-width: 900px) {
    .main_contacts_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
}