.footer_container {
    background-color: var(--background-header-footer);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Pacifico', cursive;
}

.footer_logo_img {
    width: 120px;
}

.footer_navbar ul {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

@media (max-width: 800px) {
    .footer_container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer_container ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}