.header__wrapper {
    background-color: var(--background-header-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 60px
}

.header_logo_img {
    width: 120px;
    border-radius: 25%;
    
}

.header_navbar_list {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
.header_navbar_list ul {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.navbar_item:hover {
    text-decoration: underline;
    color: black;
    transition: 0.2s;
}

.social {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.social-network {
    width: 35px;
    height: 35px;
    background-color: var(--social-bg);
    padding: 3px;
    border-radius: 25%;
    border: 2px solid white;
}

body.lock {
    overflow: hidden;
}

.main-nav__burger {
    cursor: pointer;
    display: block;
    height: 20px;
    padding: 12px;
    position: absolute;
    width: 30px;
    z-index: 5;
    right: 30px;
}

.main-nav__burger span,
.main-nav__burger::before,
.main-nav__burger::after {
    background-color: white;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.active section div nav .main-nav__burger span {
    transform: scale(1);
}

.main-nav__burger::before,
.main-nav__burger::after {
    content: " ";
}

.main-nav__burger::before {
    top: 0;
}

.main-nav__burger::after {
    bottom: 0;
}

.main-nav__burger.active span {
    transform: scale(0);
}

.main-nav__burger.active::before {
    transform: rotate(-45deg);
    top: 50%;
}

.main-nav__burger.active::after {
    bottom: 40%;
    transform: rotate(45deg);
}

@media (min-width: 1200px) {
    .main-nav__burger {
        display: none;
    }
}

.header_navbar_list.active {
    top: 0;
}

.header__wrapper.active {
    top: 0;
}

@media (max-width: 1200px) {
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .header_navbar_list {
        background-color: var(--background-color);
        height: 100%;
        left: 0;
        margin: auto;
        overflow: hidden;
        padding: 100px 24px 50px 24px;
        position: fixed;
        transition: top 0.2s ease-in 0.1s;
        top: -100%;
        width: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .header_navbar_list ul {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}

@media (max-width: 600px) {
    .header__wrapper {
        padding: 0;
    }
}